<div>
  <%= link_to "Reset Board", reset_path, remote: true %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</div>

<div class="board-container">
  <table id="chess-board">
    <tr>
      <td id="00" class="white"></td>
      <td id="01" class="black"></td>
      <td id="02" class="white"></td>
      <td id="03" class="black"></td>
      <td id="04" class="white"></td>
      <td id="05" class="black"></td>
      <td id="06" class="white"></td>
      <td id="07" class="black"></td>
    </tr>
    <tr>
      <td id="10" class="black"></td>
      <td id="11" class="white"></td>
      <td id="12" class="black"></td>
      <td id="13" class="white"></td>
      <td id="14" class="black"></td>
      <td id="15" class="white"></td>
      <td id="16" class="black"></td>
      <td id="17" class="white"></td>
    </tr>
    <tr>
      <td id="20" class="white"></td>
      <td id="21" class="black"></td>
      <td id="22" class="white"></td>
      <td id="23" class="black"></td>
      <td id="24" class="white"></td>
      <td id="25" class="black"></td>
      <td id="26" class="white"></td>
      <td id="27" class="black"></td>
    </tr>
    <tr>
      <td id="30" class="black"></td>
      <td id="31" class="white"></td>
      <td id="32" class="black"></td>
      <td id="33" class="white"></td>
      <td id="34" class="black"></td>
      <td id="35" class="white"></td>
      <td id="36" class="black"></td>
      <td id="37" class="white"></td>
    </tr>
    <tr>
      <td id="40" class="white"></td>
      <td id="41" class="black"></td>
      <td id="42" class="white"></td>
      <td id="43" class="black"></td>
      <td id="44" class="white"></td>
      <td id="45" class="black"></td>
      <td id="46" class="white"></td>
      <td id="47" class="black"></td>
    </tr>
    <tr>
      <td id="50" class="black"></td>
      <td id="51" class="white"></td>
      <td id="52" class="black"></td>
      <td id="53" class="white"></td>
      <td id="54" class="black"></td>
      <td id="55" class="white"></td>
      <td id="56" class="black"></td>
      <td id="57" class="white"></td>
    </tr>
    <tr>
      <td id="60" class="white"></td>
      <td id="61" class="black"></td>
      <td id="62" class="white"></td>
      <td id="63" class="black"></td>
      <td id="64" class="white"></td>
      <td id="65" class="black"></td>
      <td id="66" class="white"></td>
      <td id="67" class="black"></td>
    </tr>
    <tr>
      <td id="70" class="black"></td>
      <td id="71" class="white"></td>
      <td id="72" class="black"></td>
      <td id="73" class="white"></td>
      <td id="74" class="black"></td>
      <td id="75" class="white"></td>
      <td id="76" class="black"></td>
      <td id="77" class="white"></td>
    </tr>
  </table>
</div>

<script>
  <%= render "game/game.js.erb" %>
</script>