<div class="my-wrapper">
	<div id="home-menu-container">
		<div id="title">
			My Online Chess
		</div>
		<div id="home-menu">
			<div id="play">
				<%= link_to new_single_player_path do %>
					<div id="sinlge-player" class="home-button">
						Single Player
					</div>
				<% end %>
				<% if current_user %>
					<%= link_to new_multiplayer_path do %>
						<div id="multiplayer" class="home-button">
							Multiplayer
						</div>
					<% end %>				
				<% else %>
					<%= link_to new_user_session_path do %>
						<div id="multiplayer" class="home-button">
							Multiplayer
						</div>
					<% end %>
				
				<% end %>
			</div>
			<% if current_user %>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<div class="home-button">
						My Profile
					</div>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path do %>
					<div class="home-button">
						Sign In or Sign Up
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
