<div class="menu-padding">
	<div>
		<%= link_to "Go back home", home_path %>
	</div>
	<div class="std-box">
		<%= form_tag(create_path, method: :post) do %>
			<div><%= label_tag "white_to_move", "White to move: " %></div>
			<div><%= select_tag "white_to_move", options_for_select(["true", "false"], "true")%></div>
			<div><%= label_tag "board_data", "Board data: " %></div>
			<div><%= text_area_tag "board_data", nil, rows: 4, cols: 30, placeholder: "Leave blank for standard game" %></div>
			<div><%= submit_tag "Create New Game" %></div>
			<div><%= label_tag "player_one_color", "Play as: " %></div>
			<div><%= select_tag "player_one_color", options_for_select(["white", "black"], "white")%></div>
			<div><%= label_tag "player_two", "Player Two: "%></div>
			<div><%= select_tag "player_two", options_from_collection_for_select(@all_other_players, "id", "email", "") %></div>
		<% end %>	
	</div>
</div>