<%= render "game/side_menu" %>
<div id="board-container">
  <%= render "game/promotion_prompt" %>
  <%= render "game/board_table" %>
</div>

<%= render "game/lower_menu" %>


<script>
  <%= render "game/game.js.erb" %>
</script>
