<%= render "games/partials/side_menu" %>

<div id="board-container">
  <%= render "games/partials/promotion_prompt" %>
  <%= render "games/partials/board_table" %>
</div>

<%= render "games/partials/lower_menu" %>

<script>
  <%= render "games/partials/fegl.js.erb" %>
</script>
